* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* altura */
    width: 100vw; /* largura */
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    background-repeat: no-repeat, repeat-x;
    background-size: cover;
    background-clip: content-box;
}

.caixa-maior {
    background-color: #000000; /* trocar cor de funda da caixa*/
    width: 95%; /* largura */ 
    max-width: 420px; /*largura maxima */
    opacity: 0.8;
    padding: 20px;
    border-radius: 25px;
}

input {
    border: none; /* borda do elemento */
    outline: none; /* Borda quando seleciona */
    padding: 10px; /* espaço interno */
    border-radius: 24px; /* tamanho do texto */
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc(100% - 100px);

}

button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    float: right;
    cursor: pointer;
}

button:hover {
    background-color: #7c7c7c6b;
}

.caixa-media {
    margin-top: 30px;
}


.caixa-menor {
    display: flex;
    margin-top: 30px;
    align-items: center;

}

h2 {
    color: #ffffff;
    font-size: 28px; /* tamanho do texto*/
    
}

.lupa {
    height: 20px;
 }

.temperatura {
    color: #ffffff;
    margin-top: 30px;
}

.temperaturamin {
    color: #ffffff;
    margin-top: 30px;
}

.temperaturamax {
    color: #ffffff;
    margin-top: 30px;
}

.descricao {
    color: #ffffff;
    text-transform: capitalize; /* Deixa a primeira letra maiuscula */
    margin-left: 20px;
}

 .umidade {
    color: #ffffff;
    margin-top: 30px;
 }
